@import "../../../styles/variables.scss";

.input-wrapper{
    color: $text-color;
    font-size: 16px;
    text-align: start;

    label{
        margin-bottom: 10px;
    }

    .input-content{
        display: flex;
        width: 100%;
        
        .icon{
            border-radius: 0 8px 8px 0;
padding: 12px;
background-color: $primary-color;
img{
    height: 20px;
}
        }
    }
input{
border-radius: 8px 0 8px 0;
border: none;
background-color: $gray-secundary-bg;

color:$text-color;
font-size: 16px;
padding: 12px 0 12px 20px;
width: 100%;
}}